@model IEnumerable<Innovation_Admin.UI.Models.CategoryType.CategoryTypeDto>

@{
    
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/categorytype/categorytype.css" rel="stylesheet" />
</head>

<div style="height: 60px; margin: 0 20px;">
    <p>
        <a asp-action="CreateCategoryType" class="btn btn-primary float-end">
            <i class="bi bi-plus-circle"></i> Add
        </a>
    </p>
</div>

<table class="table table-bordered table-hover" id="categoryTypeTable">
    <thead>
        <tr>
            <th>
                Sr.No
                <button class="btn btn-link p-0" onclick="sortTable(0)">
                    <i class="bi bi-arrow-up-down"></i>
                </button>
            </th>
            <th>
                Document Name
            </th>
            <th>
                Group Name
            </th>
            <th>
                Claim Name
            </th>
            <th>
                Adjustment Name
            </th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="categoryTypeTableBody">
        @{
            int serialNumber = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@serialNumber</td>
                    <td>@Html.DisplayFor(modelItem => item.DocumentName)</td>
                    <td>@Html.DisplayFor(modelItem => item.GroupName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ClaimName)</td>
                    <td>@Html.DisplayFor(modelItem => item.AdjustmentName)</td>
                    
                    <td>
                        <a href="@Url.Action("EditCategoryType", new { id = item.ID })" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil-fill"></i> 
                        </a>
                        <button class="btn btn-danger btn-sm" onclick="confirmDelete('@item.ID')">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                serialNumber++;
            }
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script><script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="text/javascript" src="~/js/CategoryType/CategoryTypes.js"></script>

    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            toastr.success('@TempData["Message"]');
        </script>
    }
}
