@model IEnumerable<Innovation_Admin.UI.Models.DataSource.DataSourceDto>

@{
    ViewData["Title"] = "DataSource";
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <h1>Data Source</h1>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="~/css/datasource/datasources.css" rel="stylesheet" />

</head>

<div style="height:40px; margin:0 0">
    <p>
        <a asp-action="CreateDataSource" class="btn btn-primary float-end">
            <i class="bi bi-plus-circle"></i> Add
        </a>
    </p>
</div>

<table class="table table-bordered table-hover" id="dataSourceTable">
    <thead>
        <tr>
            <th>
                Sr No.
                <button class="btn btn-link p-0" onclick="sortTable(0)">
                    <i class="bi bi-arrow-up-down"></i>
                </button>
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="dataSourceTableBody">
        @{
            int serialNumber = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@serialNumber</td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("EditDataSource", new { id = item.ID })" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <button class="btn btn-danger btn-sm" onclick="confirmDelete('@item.ID')">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                serialNumber++;
            }
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        toastr.success('@TempData["Message"]');
    </script>
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript" src="~/js/DataSource/DataSources.js">

</script>