@model IEnumerable<Innovation_Admin.UI.Models.ReceiptBatchSource.ReceiptBatchSourceDto>

@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  @*   <link href="~/css/ReceiptBatchSource/ListReceiptBatchSource.css" rel="stylesheet" /> *@

    <style>
         body {
                    margin: 0px;
                    padding: 0px;
                    font-family: Arial, sans-serif;
                }
        
        h1 {
            text-align: center;
            color: #333;
           
            font-size: 2em;
        }

        .table {
            margin-top: 10px;
            /*  border: 1px solid #dee2e6; */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background-color: #fff;
            width: 100%;
            table-layout: fixed; /* Ensures the table follows the defined widths */
        }

            .table th,
            .table td {
                vertical-align: middle;
                text-align: left;
                padding: 10px;
            }

            .table th {
                background-color: lightgray;
                text-align:center;
           
            }

       

                /* Define fixed widths */
                .table th:nth-child(1), .table td:nth-child(1) {
                    width: 80px;
                    text-align:center;
                }

                .table th:nth-child(4), .table td:nth-child(4) {
                    width: 150px;
                    text-align:center;/* Fixed width for Action column */
                }

        .btn {
            margin: 2px;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
        }

        .add-button-container {
            text-align: right;
            margin-bottom: 10px;
            margin-right: 30px;
        }

            .add-button-container a {
                margin-right: 10px;
            }

    </style>
</head>
<body>
    <h1>Receipt Batch Source</h1>

    <div style="height:40px; margin:0 0">
        <p>
            <a asp-action="CreateReceiptBatchSource" class="btn btn-primary float-end">
                <i class="bi bi-plus-circle"></i> Add
            </a>
        </p>
    </div>

    <table id="ReceiptBatchSource" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                <th>@Html.DisplayNameFor(model => model.First().Type)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (item, index) in Model.Select((value, i) => (value, i)))
            {
                <tr>
                    <td>@((index + 1).ToString())</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>
                        <a href="@Url.Action("EditReceiptBatchSource", new { Id = item.Id })" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a href="#" onclick="confirmDelete('@item.Id')" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/ReceiptBatch/ReceiptBatchSource.js"></script>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        toastr.success('@TempData["Message"]');
    </script>
}

