@model IEnumerable<Innovation_Admin.UI.Models.RemittanceType.RemittanceTypeDto>

@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<h1>Remittance Types</h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />

    <style>
        h1 {
            text-align: center;
        }

        .add-div {
            height: 50px;
            margin: 0 20px;
        }

        .table-responsive {
            margin-top: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            border: 2px solid #ddd;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            text-align: left;
        }

        .btn-sort {
            margin-left: 10px;
        }

        body{
            margin: 0px;
        }

        
    </style>
</head>
<div class="add-div">
    <p>
        <a asp-action="CreateRemittanceType" class="btn btn-primary float-end"><i class="bi bi-plus-circle"></i> Add</a>
    </p>
</div>
<body>
<table class="table table-striped" id="remittanceType">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int serialNumber = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@serialNumber</td>
                <td class="pharmacy-name"> @Html.DisplayFor(modelItem => item.Name)</td>
                
                <td>
                    <a href="@Url.Action("EditRemittanceType", new { Id = item.Id })" class="btn btn-warning">
                        <i class="bi bi-pencil-fill"></i>
                    </a> |
                    <a href="#" onclick="confirmDelete('@item.Id')" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
                
            </tr>
            serialNumber++;
        }
    </tbody>
</table>'
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<script>
    $("#remittanceType").dataTable({
        pageLength: 5,
        lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']],
        paging: true,
        sorting: true,
        serverSide: false,
        columns: [
            { name: "Sr.No", orderable: true },
            { name: "Name", orderable: true },
            { name: "Action", orderable: false }
        ]
    });


    function confirmDelete(Id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Common/DeleteRemittanceType',
                    type: 'POST',
                    data: { ID: Id },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire(
                                'Deleted!',
                                'Your record has been deleted.',
                                'success'
                            ).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire(
                                'Error!',
                                response.message || 'There was an issue deleting the record.',
                                'error'
                            );
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire(
                            'Error!',
                            xhr.responseJSON?.message || 'There was an issue deleting the record.',
                            'error'
                        );
                    }
                });
            }
        });
    }
</script>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        toastr.success('@TempData["Message"]');
    </script>
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>