@model IEnumerable<Innovation_Admin.UI.Models.SysPrefGeneralBehaviour.SysPrefGeneralBehaviourDto>

@{
    ViewData["Title"] = "SysPrefGeneralBehaviour";
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<h1>System Preference General Behaviour</h1>

<p>
    <a asp-action="CreateSysPrefGeneralBehaviour">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Records Locked Seconds</th>
            <th>User Timeout</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int serialNumber = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@serialNumber</td>
                <td>@Html.DisplayFor(modelItem => item.Records_Locked_Seconds)</td>
                <td>@Html.DisplayFor(modelItem => item.User_Timeout)</td>
                <td>
                    @Html.ActionLink("Edit", "EditSysPrefGeneralBehaviour", new { Preference_ID = item.Preference_ID }) |
                    @Html.ActionLink("Details", "SysPrefGeneralBehaviourDetails", new { Preference_ID = item.Preference_ID }) |

                    <a href="#" onclick="confirmDelete('@item.Preference_ID')">Delete</a>
                </td>
            </tr>
            serialNumber++;
        }
    </tbody>
</table>

<script type="text/javascript">
    function confirmDelete(Preference_ID) {
        if (confirm("Are you sure ?")) {
            var form = document.createElement("form");
            form.method = "post";
            form.action = "/Common/DeleteSysPrefGeneralBehaviour";

            var hiddenField = document.createElement("input");
            hiddenField.type = "hidden";
            hiddenField.name = "Preference_ID";
            hiddenField.value = Preference_ID;
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
