@model IEnumerable<Innovation_Admin.UI.Models.SysPrefCompany.SysPrefCompanyDto>
@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}
<head>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
        <link href="~/Content/grid-0.4.3.min.css" rel="stylesheet" type="text/css">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

        <link href="~/css/SysPrefCompany.css" rel="stylesheet" />
    </head>
</head>
<body>
<h1>System Preference Company</h1>

<div style="height:50px; margin:0 20px;">
    <p>
        <a asp-action="CreateSysPrefCompany" class="btn btn-primary float-end">Add</a>
    </p>
</div>

<div class="table-responsive">
    <table id="SysPrefCompany" class="table table-striped">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th style="display:none;">@Html.DisplayNameFor(model => model.CompanyID)</th>
                <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
                <th>@Html.DisplayNameFor(model => model.TermForPharmacy)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (item, index) in Model.Select((value, i) => (value, i)))
            {
                <tr>
                    <td>@(index + 1)</td>
                    <td style="display:none;">@Html.DisplayFor(modelItem => item.CompanyID)</td>
                    <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                    <td>@Html.DisplayFor(modelItem => item.TermForPharmacy)</td>
                    <td>
                        <a href="@Url.Action("EditSysPrefCompany", new { companyId = item.CompanyID })" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil-fill"></i> 
                        </a>
                        <a href="#" onclick="confirmDelete('@item.CompanyID')" class="btn btn-danger">
                            <i class="bi bi-trash"></i> 
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-2.1.3.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Scripts/grid-0.4.3.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">

    function sortTable(n) {
        var table = document.getElementById("SysPrefCompany");
        var rows = table.rows;
        var switching = true;
        var shouldSwitch;
        var dir = "asc";
        var switchcount = 0;

        while (switching) {
            switching = false;
            var rowsArray = Array.from(rows).slice(1);

            for (var i = 0; i < rowsArray.length - 1; i++) {
                shouldSwitch = false;
                var x = rowsArray[i].getElementsByTagName("TD")[n];
                var y = rowsArray[i + 1].getElementsByTagName("TD")[n];

                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rowsArray[i].parentNode.insertBefore(rowsArray[i + 1], rowsArray[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    $('#SysPrefCompany').dataTable({
        pageLength: 5,
        lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']]
    });
    function confirmDelete(companyId) {
        if (confirm("Are you sure?")) {
            var form = document.createElement("form");
            form.method = "post";
            form.action = "/Common/DeleteSysPrefCompany";

            var hiddenField = document.createElement("input");
            hiddenField.type = "hidden";
            hiddenField.name = "companyId";
            hiddenField.value = companyId;
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
