@model Innovation_Admin.UI.Models.SysPrefGeneralBehaviour.SysPrefGeneralBehaviourDto

@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<h1 class="text-center">General Behaviour Details</h1>

<style>
    h1.text-center, hr {
        margin-bottom: 20px;
    }

    .dl-horizontal dt {
        text-align: left;
    }

    .dl-horizontal dd {
        margin-left: 0;
    }

    .btn {
        display: inline-flex;
        align-items: center;
    }

        .btn i {
            margin-right: 5px;
        }

    .card.shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
</style>


<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
        <div class="card shadow">

            <div class="card-body">
                <dl class="row">
                <dt class="col-sm-4">
                    Preference ID
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Preference_ID)
                </dd>
                <dt class="col-sm-4">
                    Auto Change Claim Status
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Auto_Change_Claim_Status)
                </dd>
                <dt class="col-sm-4">
                    Claim Status Receipting
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Claim_Status_Receipting)
                </dd>
                <dt class="col-sm-4">
                    Claim Status Payment
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Claim_Status_Payment)
                </dd>
                <dt class="col-sm-4">
                    Claim Status Zero Paid
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Claim_Status_Zero_Paid)
                </dd>
                <dt class="col-sm-4">
                    Claim Status Procare Load
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Claim_Status_Procare_Claim_Load)
                </dd>
                <dt class="col-sm-4">
                    Logout Redirect
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Logout_Redirect)
                </dd>
                <dt class="col-sm-4">
                    Records Locked Seconds
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Records_Locked_Seconds)
                </dd>
                <dt class="col-sm-4">
                    User Timeout
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.User_Timeout)
                </dd>
            </dl>
            <div class="mt-4 text-center">
                <a asp-action="SysPrefGeneralBehaviour" class="btn btn-secondary ms-2">
                     Back
                </a>
             </div>
        </div>
    </div>
</div>
</div>

 

