@model IEnumerable<Innovation_Admin.UI.Models.SysPrefFinancial.SysPrefFinancialDto>

@{
    ViewData["Title"] = "SysPrefFinancial";
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <style>
        h1.text-center {
            margin-bottom: 20px;
        }

        body {
            margin: 0px;
            padding: 0px;
        }

        .table {
            margin-top: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center; 
        }

            .table th, .table td {
                vertical-align: middle; 
            }

        .table-bordered th, .table-bordered td {
            border: 1px solid #dee2e6;
        }


        .btn-container {
            text-align: right;
            margin-bottom: 10px;
            padding-right: 29px;
        }

        .table-container {
            margin-top: 25px;
        }

        .add-button-container {
            margin-right: 20px;
        }
    </style>
</head>

<h1 class="text-center">System Preference Financial</h1>

<div class="btn-container">

    <a asp-action="CreateSysPrefFinancial" asp-controller="Common" class="btn btn-primary " class="add-button-container">
        <i class="bi bi-plus-circle"></i>  Add
    </a>
</div>

<div class="table-container">
    <table class="table table-bordered table-hover" id="sysPrefFinancialTable">
        <thead class="table-light">
            <tr>
                <th>Sr.No</th>
                <th>Company Name</th>
                <th>Default Payment Method</th>
                <th>Days To Block</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model.Select((value, index) => new { value, index }))
            {
                <tr>
                    <td>@(item.index + 1)</td>
                    <td>@Html.DisplayFor(modelItem => item.value.CompanyName)</td>
                    <td>@Html.DisplayFor(modelItem => item.value.DefaultPaymentMethod)</td>
                    <td>@Html.DisplayFor(modelItem => item.value.DaysToBlock)</td>
                    <td>
                        <a asp-action="EditSysPrefFinancial" asp-controller="Common" asp-route-financialId="@item.value.FinancialID" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a asp-action="DetailsSysPrefFinancial" asp-controller="Common" asp-route-financialId="@item.value.FinancialID" class="btn btn-info btn-sm">
                            <i class="bi bi-info-circle-fill"></i>
                        </a>
                        <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('@item.value.FinancialID')">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<script type="text/javascript">

    $("#sysPrefFinancialTable").dataTable({
        pageLength: 5,
        lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']],
        paging: true,
        sorting: true,
        serverSide: false,
        columns: [
            { name: "Sr.No", orderable: true },
            { name: "Company Name", orderable: true },
            { name: "Default Payment Method", orderable: true },
            { name: "Days To Block", orderable: true },
            { name: "Action", orderable: false }
        ]
    });

    function confirmDelete(roleId) {
        Swal.fire({
            title: 'Are you sure to delete?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Common/DeleteSysPrefFinancial',
                    type: 'POST',
                    data: { financialId: roleId },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire(
                                'Deleted!',
                                'Your record has been deleted.',
                                'success'
                            ).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire(
                                'Error!',
                                response.message || 'There was an issue deleting the record.',
                                'error'
                            );
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire(
                            'Error!',
                            xhr.responseJSON?.message || 'There was an issue deleting the record.',
                            'error'
                        );
                    }
                });
            }
        });
    }
</script>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        toastr.success('@TempData["Message"]');
    </script>
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
