@model IEnumerable<Innovation_Admin.UI.Models.SysPrefCompany.SysPrefCompanyDto>
@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<h1>System Preference Company</h1>

<p>
    <a asp-action="CreateSysPrefCompany" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th style="display:none;">@Html.DisplayNameFor(model => model.CompanyID)</th>
                <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
                <th>@Html.DisplayNameFor(model => model.TermForPharmacy)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (item, index) in Model.Select((value, i) => (value, i)))
            {
                <tr>
                    <td>@(index + 1)</td>
                    <td style="display:none;">@Html.DisplayFor(modelItem => item.CompanyID)</td>
                    <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                    <td>@Html.DisplayFor(modelItem => item.TermForPharmacy)</td>
                    <td>
                        <a href="@Url.Action("EditSysPrefCompany", new { companyId = item.CompanyID })" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a href="#" onclick="confirmDelete('@item.CompanyID')" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function confirmDelete(companyId) {
        if (confirm("Are you sure?")) {
            var form = document.createElement("form");
            form.method = "post";
            form.action = "/Common/DeleteSysPrefCompany";

            var hiddenField = document.createElement("input");
            hiddenField.type = "hidden";
            hiddenField.name = "companyId";
            hiddenField.value = companyId;
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
